<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HTML5 Boilerplate</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <header>
      <a href="main.handlebars">HOME</a>
      <a href="/keplan/login.handlebars">LOGIN</a>
    </header>

    {{{body}}}

    <footer>
      <a href="/impressum">Impressum</a>
    </footer>
  </body>

</html>