<h1>Rezept hochladen</h1>
<form action="/create_post" enctype="multipart/form-data" method="post">
  <input type="text" name="titel" placeholder="Titel" />

  <input type="text" name="inhalt" placeholder="Inhalt" />
  <input type="file" name="file_name" />
  <input type="submit" />
</form>