<h1>Registrierung</h1>
<form action="/register" enctype="multipart/form-data" method="post">
  Email:
  <input type="text" name="email" /><br />
  Passwort:
  <input type="password" name="passwort" /><br />
  <input type="submit" />
</form>